<ion-view title="Overview">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Overview</h1>
        <hr>
        <div>
        <blockquote>
            <p>This is Ionic single page app that connects to my API server<br><br>
            Purpose:  Mobile friendly version of my portfolio<br>
            Reason: Doing it as my third Ionic side project. Converted my <a href="http://steven-daniell-jackson.github.io/portfolio/#/home">Portfolio</a> to Ionic. <br><br>

                Text Editor: Sublime Text 3<br>
                Frameworks: Ionic<br>
                Browser: Chrome <br>
                Operating System: Windows 10</p>
                </blockquote>
        </div>
        <hr>
    </ion-content>
</ion-view>