<ion-view title="Previous Websites">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Previous Websites</h1>
        <hr>
        <div ng-if="preloader" class="text-center"><img src="http://orig06.deviantart.net/df77/f/2013/094/8/d/loading_logofinal_by_zegerdon-d60eb1v.gif" alt=""></div>
        <div ng-repeat="entry in entries">
            
            <portfolio-item portfolio-data="entry"></portfolio-item>
        </div>

        <hr>
        
       
    </ion-content>
</ion-view>